.header {
	text-align: center;
}

.header ul {
	display: flex;
	justify-content: center;
	list-style: none;
	gap: 1rem;
}

.header li {
	margin: 0.25rem 0;
	padding: 0.25rem 0.5rem;
}

.active {
	background: cadetblue;
	border-radius: 0.25rem;
}

.active a {
	color: white;
}

.active a:hover {
	color: black;
}