.main {
	margin: 0.5rem 0;
	padding: 1rem;
	background-image: url(/background.jpg);
	background-repeat: repeat;
	background-size: contain;
}

.main h2 {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	text-align: center;
}

.productsWrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;

}

.card {
	background-color: white;
	width: 30%;
	padding: 1rem;
	text-align: center;
	border-radius: 0.5rem;
}

.card h4 {
	height: 2.5rem;
}

.card img {
	width: 100%;
}