.main {
	margin: 0.5rem 0;
	padding: 1rem;
	background-image: url(/background.jpg);
	background-repeat: repeat;
	background-size: contain;
}

.main h2 {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	text-align: center;
}