/************************* GENERIC CSS *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  background-image: url(/mountains.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
}

.flex-container {
  display: flex;
}

.boxed {
  width: 900px;
  margin: 0 auto;
}

.justify-content-space-around {
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: cadetblue;
}